
/* Defining the animation keyframes */
/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

/* Applying the animation to an element */
/* .rot{
    animation: fadeIn 1s ease-in;
} */


.sidebar{
    position: inline;
  }
  .page{
    height: 95vh;
    width: 100vw;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }