.containerloading {
  width: 100%; /* Set a width that suits your layout */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: inline;
}
.page {
  height: 83vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Loading.css */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-dots {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  background-color: #3498db;
  border-radius: 50%;
  margin: 0 5px;
  animation: pulse 0.6s infinite alternate;
  opacity: 0;
}

.loading-dot:nth-child(1) {
  animation-delay: 0.2s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.4s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
