.link {
  text-decoration: none;
}
#app1 {
  /* background-color: #5c0113; */
  /* background-image: url(https://images.unsplash.com/photo-1537202108838-e7072bad1927?q=80&w=1946&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover; */
  display: flex;
  position: relative;
  height: auto;
}
.text-col {
  color: white;
}
.react-pro-sidebar .text-col:hover {
  background-color: transparent !important;
  color: inherit !important;
}
/* SideNav.css */
.side-nav {
  /* background-color: #50d8d7;
  background-image: linear-gradient(68deg, #50d8d7 26%, #923993 74%); */
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  border-color: transparent !important;
  border-radius: 30px !important;
  /* border: 3px solid rgb(204, 153, ) !important; */
}
.menuitem1 {
  background-image: linear-gradient(316deg, #4b7979 0%, #346445 100%);
  border: 3px solid #408080;
  border-radius: 30px !important;
}
hr {
  font-size: large;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-66.6%);
  }
}

/* .menuitem1 li {
  cursor: pointer;
  padding: 1em;
  margin-bottom: 0.8em;
  background-color: #cfd8dc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-weight: bold;
} */

.menuitem1 :hover {
  background-color: #50d8d7 !important;
  border-radius: 30px !important;
}
