.sidebar {
  position: inline;
}
.page {
  position: relative;
}
.page::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}
.page::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the thumb transparent */
}

.page {
  overflow: overlay; /* Enable overlay scrolling */
}

/* .bd1{
  background-image: url("/public/media/bodyBackground3.jpg");
  background-size: cover;
  margin: 0;
} */
