footer {
    padding: 10px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color:teal;
     background-image: linear-gradient(-135deg, #3eb2b2 10%, #7f2981 40%);
     /* background-image: url("/public/media/87399.jpg"); */
    opacity: 1;
    color:azure;
  }