.page-enter {
    opacity: 1;
    transform: translateY(100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms, transform 1000ms;
}

.page-exit {
    opacity: 0;
    transform: translateY(0);
}

.page-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1000ms, transform 1000ms;
}



/* SearchBar.css */
.search-bar-container {
  position: relative;
  margin: 0 auto;
}

.search-results {
  margin: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px; /* Set a maximum height for the search results */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #f2f2f2;
}

.selected {
  background-color: #4caf50;
  color: white;
}

.search-result-item:last-child {
  border-bottom: none;
}



.history-results {
  max-height: 65vh; /* Set a maximum height for the search results */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}