.admin1 {
  height: max-content;
}
.admin1::-webkit-scrollbar {
  width: 0px; /* Adjust the width as needed */
}
.admin1::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.admin1 {
  overflow: overlay; /* Enable overlay scrolling */
}
