.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  min-width: 150px;
  max-height: 200px;
  overflow-y: auto;
}

.checkbox-label {
  display: block;
  padding: 8px 12px;
}

.dropdown-content label:hover {
  background-color: #ddd;
}
 .error{
  border-radius: 7px;
  border-color: red;
  border :2px ;
 }
 .noerror{
  border-color: white;
  border: 1px;
 }